#shownickname {
    visibility: hidden;
    display: none;
    color: white;
}
#movieimage {
    margin: 20px;
    max-height: 1%;
    float: right;
}
#moviesummary {
    max-width: 60%;
}
#movielistitem {
    max-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#movielistitem:hover {
    background-color: lightgrey;
    cursor: pointer;
}
#listitemimage {} #movielistcontainer {
    max-width: 60%;
}
#movielist {
    max-width: 60%;
}
#listitemtitle {
    max-width: 90%;
}
.listimage {
    max-height: 50px;
}
p {
    max-width: 50%;
}
td {
    padding: 10px;
    margin: 10px;
    height: 50px;
    max-height: 50px;
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
}